@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Sarun";
    /*noinspection CssUnknownTarget*/
    src: url(/Sarun-2477.ttf) format("truetype");
}
@font-face {
    font-family: "Modern";
    /*noinspection CssUnknownTarget*/
    src: url(/SB-Modern.ttf) format("truetype");
}

@font-face {
    font-family: "Market";
    /*noinspection CssUnknownTarget*/
    src: url(/supermarket.ttf) format("truetype");
}

